.hero {
  height: calc(100vh - 108px);
  width: calc(100vw - (100vw - 100%));
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &__content {
    width: 100%;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    padding-top: 9rem;
    position: relative;
  }

  &__title {
    text-transform: uppercase;
    font-size: clamp(2rem, 10vw, 25rem);
    position: relative;
    z-index: 2;
  }

  &__subtitle {
    font-size: 1.5rem;
    margin-left: 1rem;
    z-index: 2;

    span {
      font-family: var(--font-pphatton);
      font-style: italic;
    }
  }

  & a {
    margin-top: 3rem;

    &:hover {
      svg {
        transform: translateX(calc(108px + var(--gap))) !important;
      }
    }
  }

  &__image {
    width: 638px;
    height: 350px;
    position: absolute;
    top: calc(100vh - 500px);
    right: 132px;
    transform-origin: top right;
    will-change: transform;
  }
}

@media screen and (max-height: 850px) {
  .hero {
    &__content {
      padding-top: 7rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    height: calc(100vh - 65px);
    height: 70vh;
    min-height: 550px;
    padding-top: 6rem;

    &__content {
      padding-top: 0;
    }

    &__subtitle {
      font-size: 1.5rem;
      margin-left: 0;
      margin-top: 1rem;
    }

    & a {
      margin-top: 3.5rem;

      &:hover {
        svg {
          transform: translateX(calc(108px + var(--gap))) !important;
        }
      }
    }

    &__image {
      width: 257px;
      height: 141px;
      top: calc(50vh - 134px);
      right: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    padding-top: 5rem;

    &__content {
      padding-top: 0;
    }

    &__subtitle {
      font-size: 1rem;
      margin-top: 0.5rem;
    }

    & a {
      margin-top: 3rem;
    }
  }
}
