.scaledImage__wrapper {
  grid-column: 2 / span 10;
  margin: 3rem 0;
  overflow: hidden;
  max-width: 771px;
  max-height: 423px;
  border-radius: 4rem;
  will-change: width, height;
}

.scaledImage__image {
  aspect-ratio: 16 / 9;
  width: 771px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .scaledImage__wrapper {
    grid-column: span 12;
    width: calc(100vw - (var(--side-padding) * 2));
    aspect-ratio: 16/9;
    height: unset;
    transform: translateY(200px);
    opacity: 0;
    filter: blur(0.25rem);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out,
      filter 0.5s ease-in-out;
    will-change: transform, opacity, filter;
  }

  .inView {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }

  .scaledImage__image {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
}
