.services {
  padding: 0 var(--side-padding);
  padding-top: 12rem;
  max-width: 1440px;
  margin: 0 auto;

  &:has(.active) {
    .services__item:not(.active) {
      opacity: 0.5;
    }
  }

  &__item {
    cursor: pointer;
    position: relative;
    padding: 4rem 0;
    border-bottom: 1px solid rgba(187, 187, 187, 0.5);
    transition: opacity 0.3s;

    &__header {
      display: flex;
      align-items: center;

      &__title {
        text-transform: uppercase;
        z-index: 1;
        margin: 0;
      }

      &__icon {
        align-self: flex-start;
      }
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__description {
      flex: 1;
      margin-right: 2rem;
      max-width: calc(1440px / 12 * 7);
      z-index: 1;
      padding-top: 2rem;
    }

    &__image {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      transform-origin: right;
      will-change: transform;
      z-index: 0;
    }
  }
}
