.services {
  padding: 0 var(--side-padding);
  padding-top: 12rem;

  &__item {
    &__header {
      display: flex;
      gap: 1.5rem;

      &__title {
        text-transform: uppercase;
      }
    }
  }
}
