.service {
  .description {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));

    p {
      grid-column: 2 / span 10;
    }
  }

  .offering {
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);

    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 3rem 1rem;
      margin-top: 5rem;
    }

    &__spacer {
      grid-column: span 1;
    }
  }
}
