.service {
  padding-bottom: 7.75rem;

  &__description {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    max-width: 1440px;
    margin: 5rem auto 0;

    p {
      grid-column: 2 / span 10;
    }
  }

  &__offering {
    margin-top: 10rem;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);

    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 3rem 1rem;
      margin-top: 5rem;
    }

    &__spacer {
      grid-column: span 1;
    }
  }
}

@media screen and (max-width: 1024px) {
  .service {
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .service {
    &__description {
      margin-top: 0;
      padding: 0 var(--side-padding);

      p {
        grid-column: span 12;
      }
    }

    &__offering {
      margin-top: 6rem;

      &__list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2rem 0.5rem;
        margin-top: 3rem;
      }

      &__spacer {
        display: none;
      }
    }

  }
}
