.about__slider {
  position: relative;
  height: 300vh;

  &__container {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-left: calc((100vw - 4rem) / 12);
  }

  &__content {
    display: flex;
    gap: 2.5rem;
    // display: grid;
    // grid-template-columns: repeat(4, minmax(0, 1fr));
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr;
    // grid-gap: 2.5rem;
  }

  &__item {
    display: flex;
    gap: 2rem;
    align-items: center;
    width: calc((100vw - 4rem) * (8 / 12));
    max-width: calc(1440px * 8 / 12);

    &__image {
      position: relative;
      width: 448px;
      min-width: 448px;
      height: 604px;
    }

    &__content {
      display: flex;
      flex-direction: column;

      h4 {
        margin-top: 1rem;
      }

      p {
        font-size: 18px;
        line-height: 145%;
        margin-top: 5rem;
      }

      a {
        margin-top: 2rem;
      }
    }
  }
}
