.contact {
  padding: 10rem var(--side-padding) 10rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1rem;
  color: var(--text-color);
  max-width: 1440px;
  margin: 0 auto;

  &__info {
    grid-column: 2 / span 4;

    &__description {
      font-size: 18px;
      margin-top: 2rem;
    }

    &__todo {
      font-size: 14px;
      font-weight: 700;
      margin-top: 1rem;
    }

    &__subtitle {
      font-size: 18px;
      margin-top: 1.5rem;
      font-weight: 400;
    }

    &__socials {
      margin-top: 1rem;
      display: flex;
      gap: 1rem;

      &__item {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        border: 1px solid var(--text-color);
        padding: 0.5rem 1.5rem;
        border-radius: 3rem;
        width: fit-content;
      }
    }
  }

  &__form {
    grid-column: 6 / span 6;
  }
}
