.about {
  padding: 7rem var(--side-padding) 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;

    h2 {
      font-weight: 600;
    }
  }

  &__description {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1rem;
    max-width: 1440px;
    margin: 5rem auto 0;

    p {
      grid-column: 4 / span 9;
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 79px;
        height: 90px;
        background: url('/about/about-us-shape.svg') no-repeat center center;
        position: absolute;
        top: -45px;
        left: -90px;
      }
    }
  }
}
