:root {
  --background: white;
  --foreground: black;
  --text-color: #000;
}

[data-theme='dark'] {
  --background: #212121;
  --foreground: white;
  --text-color: #fff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-inter);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1;
}

h1 {
  font-size: 9rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 4rem;
}