.mobileMenu {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobileMenu {
    display: flex;
    position: relative;

    &__burger {
      position: relative;

      &:before,
      &:after {
        content: '';
        display: block;
        width: 1rem;
        height: 33px;
        position: absolute;
        top: 0;
      }

      &:before {
        left: -1rem;
      }

      &:after {
        right: -1rem;
      }

      svg {
        width: 16px;
        height: 33px;

        path {
          fill: var(--foreground);
        }
      }
    }

    &__menuWrapper {
      visibility: hidden;
      position: fixed;
      inset: 0;
      background-color: var(--background);
      width: 100vw;
      height: 100vh;
      z-index: 9999999;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out, visibility 0s ease-in-out 1s;
      padding: 1rem 1.75rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__open {
        visibility: visible;
        transition: transform 0.3s ease-in-out, visibility 0s ease-in-out 0s;
        transform: translateX(0);
      }
    }

    &__close {
      position: absolute;
      top: 1.5rem;
      right: 2rem;

      svg {
        width: 27px;
        height: 27px;

        path {
          fill: var(--foreground);
        }
      }
    }

    &__localeSwitcher {
      position: absolute;
      top: 4.5rem;
      right: 2rem;
    }

    &__themeSwitcher {
      margin-top: 1rem;
    }

    &__menu {
      text-transform: uppercase;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-top: 2rem;
    }

    &__footer {
      &__title {
        text-transform: uppercase;
        font-size: clamp(3rem, 17vw, 8rem);
        width: 100%;
        white-space: normal;
        display: flex;
        flex-direction: column;

        span {
          font-weight: 700;

          &:first-child {
            width: 100%;
            white-space: nowrap;
            word-break: keep-all;
          }

          &:last-child {
            align-self: flex-start;
          }
        }
      }

      &__subtitle {
        font-size: 1.25rem;
        margin-top: 1rem;

        span {
          font-family: var(--font-pphatton);
          font-style: italic;
        }
      }

      a {
        margin-top: 2rem;
        --arrow-size: 3rem !important;
        font-size: 2rem !important;
        width: 100% !important;
      }
    }
  }
}

@media screen and (max-height: 700px) {
  .mobileMenu {
    &__menu {
      gap: 1.5rem;
    }
  }
}
