.content {
  display: grid;
  place-items: center;
  line-height: 1.2;
  position: sticky;
  top: 0;
  height: 100vh;
  grid-template-areas: 'img';
  grid-template-columns: 1fr;

  &__img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 53em) {
  .mask {
    height: 200vh;
  }

  .content {
    width: 100%;
    grid-template-areas: 'img';
    grid-template-columns: 1fr;
    justify-content: center;

    &__img {
      max-width: none;
      width: 100vw;
      align-self: center;
      position: relative;
      will-change: clip-path;
    }
  }
}

@media screen and (max-width: 53em) {
  .mask {
    height: unset;
    padding: 0 var(--side-padding);
    margin-top: 3.5rem;
  }

  .content {
    height: unset;

    &__img {
      width: 100vw;
      aspect-ratio: 16/9;
    }
  }
}
