.hero {
  height: 200vh;
  width: calc(100vw - (100vw - 100%));
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &__content {
    width: 100%;
    padding: 9rem var(--side-padding) 0;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 436px;
      height: 436px;
      background: url('/sun.svg') no-repeat center center;
      position: absolute;
      top: 10vh;
      right: 5vw;
      z-index: -1;
      animation: rotate 25s linear infinite;
    }

    &::before {
      display: block;
      content: ' ';
      position: absolute;
      background: url('/wireframe.svg') no-repeat center center;
      width: 343px;
      height: 343px;
      top: 50vh;
      left: 50%;
      transform: translate(-50%, calc(-50% - 95px));
      animation: float 20s ease-in-out infinite;
      z-index: -1;
      opacity: 0.6;
    }

    @media screen and (min-height: 920px) {
      &::after {
        top: 15vh;
      }
    }

    @media screen and (min-width: 1700px) {
      &::after {
        transform: scale(1.2);
        top: 17vh;
        right: 7vw;
      }
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    @keyframes float {
      0%,
      100% {
        transform: translate(-50%, calc(-50% - 95px));
      }
      20% {
        transform: translate(
          calc(-50% - #{random(300)}px),
          calc(-50% - #{random(300)}px)
        );
      }

      60% {
        transform: translate(
          calc(-50% + #{random(300)}px),
          calc(-50% + #{random(300)}px)
        );
      }

      80% {
        transform: translate(
          calc(-50% - #{random(300)}px),
          calc(-50% - #{random(300)}px)
        );
      }
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: clamp(2rem, 10vw, 25rem);
    width: 100%;
    word-wrap: break-word;
    hyphens: auto;
    white-space: nowrap;
    position: relative;
    z-index: 2;
  }

  &__subtitle {
    font-size: 1.5rem;
    margin-left: 1rem;
    z-index: 2;

    span {
      font-family: var(--font-pphatton);
      font-style: italic;
    }
  }

  & button {
    margin-top: 3rem;

    &:hover {
      &::before {
        transform: translateX(calc(108px + var(--gap))) !important;
      }
    }
  }

  &__image {
    width: 638px;
    height: 350px;
    position: absolute;
    top: calc(100vh - 500px);
    right: 132px;
    z-index: -2;
    transform-origin: top right;
    will-change: transform;

    &__text {
      position: absolute;
      bottom: 0;
      left: -260px;
      z-index: 2;
      text-align: end;

      h6 {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
      }

      p {
        font-size: 12px;
        margin-top: 1rem;
      }
    }
  }

  .scrollDown {
    text-transform: uppercase;
    font-weight: 500;
    position: absolute;
    top: calc(100vh - 200px);
    left: 55px;
    display: flex;
    align-items: center;
    gap: 13px;

    &::after {
      content: '';
      background: url('/arrow-white.svg') no-repeat center center;
      background-size: cover;
      display: block;
      width: 18px;
      height: 18px;
      transform: rotate(90deg);
    }
  }
}
