.hero {
  height: 200vh;
  width: calc(100vw - (100vw - 100%));
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &__content {
    width: 100%;
    padding: 9rem 2rem 0;
    position: relative;
  }

  &__title {
    text-transform: uppercase;
    font-size: clamp(2rem, 10vw, 25rem);
    width: 100%;
    word-wrap: break-word;
    hyphens: auto;
    white-space: nowrap;
    position: relative;
    z-index: 2;

    &::after {
      content: '';
      display: block;
      width: 436px;
      height: 436px;
      background: url('/sun.svg') no-repeat center center;
      position: absolute;
      top: -4rem;
      right: 1rem;
      z-index: -1;
    }
  }

  &__subtitle {
    font-size: 1.5rem;
    margin-left: 1rem;

    span {
      font-family: var(--font-pphatton);
      font-style: italic;
    }
  }

  &__button {
    display: inline-flex;
    border: 1px solid #aeaeb2;
    border-radius: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 3rem;
    padding: 18.5px 1.5rem;
    line-height: 1;
  }

  //   &__image__container {
  //     width: 638px;
  //     height: 350px;
  //     position: absolute;
  //     top: calc(100vh - 500px);
  //     right: 132px;
  //     z-index: -2;
  //   }

  &__image {
    width: 638px;
    height: 350px;
    position: absolute;
    top: calc(100vh - 500px);
    right: 132px;
    z-index: -2;
    transform-origin: bottom right;

    &__text {
      position: absolute;
      bottom: 0;
      left: -260px;
      z-index: 2;
      text-align: end;

      h6 {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
      }

      p {
        font-size: 12px;
        margin-top: 1rem;
      }
    }

    // &::before {
    //   display: block;
    //   content: ' ';
    //   position: absolute;
    //   background: url('/wireframe.svg') no-repeat center center;
    //   width: 343px;
    //   height: 343px;
    //   top: calc(100vh - 500px);
    //   left: 50%;
    // }
  }

  .scrollDown {
    text-transform: uppercase;
    font-weight: 500;
    position: absolute;
    top: calc(100vh - 200px);
    left: 55px;
    display: flex;
    align-items: center;
    gap: 13px;

    &::after {
      content: '';
      background: url('/arrow-white.svg') no-repeat center center;
      background-size: cover;
      display: block;
      width: 18px;
      height: 18px;
      transform: rotate(90deg);
    }
  }
  //   .wireframe {
  //     position: absolute;
  //     top: calc(100vh - 500px);
  //     left: 50%;
  //     z-index: -5;
  //   }
}
