.imageSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 25vw;
  aspect-ratio: 16 / 9;
  position: absolute;
  top: calc(100vh - 25vw * 9 / 16);
  right: 300px;

  &__image {
    width: 100%;
    position: absolute;
    border-radius: 12px;
    aspect-ratio: 16/9;
  }
}

@media screen and (max-height: 950px) {
  .imageSlider {
    top: calc(100vh - 25vw * 9 / 16 - 50px);
  }
}

@media screen and (max-width: 1024px) {
  .imageSlider {
    top: calc(200px + 70vw * 9 / 16);
    right: 50%;
    transform: translateX(50%);
    width: 100vw;

    &__image {
      max-width: 55vw;
    }
  }
}

@media screen and (max-width: 768px) {
  .imageSlider {
    top: calc(200px + 100vw * 9 / 16);
  }
}
