.whyUs {
  max-width: calc(1440px + 2 * var(--side-padding));
  margin: 4rem auto 0;
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);

  &__reasons {
    margin-top: 8.6rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
  }

  &__reason {
    p {
      margin-top: 2rem;
      font-size: 18px;
    }

    h4 {
      position: relative;
      width: fit-content;

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        animation: floatingIcons 8s linear infinite;
      }

      span:nth-of-type(2) {
        font-family: var(--font-pphatton);
        font-style: italic;
      }
    }

    @keyframes floatingIcons {
      0% {
        transform: translate(0, 0);
      }
      25% {
        transform: translate(0.5rem, -0.5rem);
      }
      50% {
        transform: translate(0, -1rem);
      }
      75% {
        transform: translate(-0.5rem, -0.5rem);
      }
      100% {
        transform: translate(0, 0);
      }
    }

    &__2,
    &__4 {
      transform: translateY(4.5rem);
    }

    &__1 {
      h4 {
        &::before {
          background: url('/why-us/personalized-icon.svg') no-repeat center
            center;
          width: 110px;
          height: 143px;
          top: -3rem;
          right: -4.5rem;
        }
      }
    }

    &__2 {
      h4 {
        &::before {
          background: url('/why-us/creative-icon.svg') no-repeat center center;
          width: 125px;
          height: 125px;
          right: -1.5rem;
        }
      }
    }

    &__3 {
      h4 {
        &::before {
          background: url('/why-us/stress-icon.svg') no-repeat center center;
          width: 96px;
          height: 132px;
          top: -6rem;
          right: -7rem;
        }
      }
    }

    &__4 {
      h4 {
        &::before {
          background: url('/why-us/smile-icon.svg') no-repeat center center;
          width: 125px;
          height: 125px;
          top: -5rem;
          right: -5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .whyUs {
    margin: 0;

    &__reasons {
      margin-top: 3rem;
      grid-template-columns: 1fr;
      gap: 4.875rem;
    }

    &__reason {
      p {
        font-size: 14px;
        margin-top: 1rem;
      }

      h4 {
        line-height: 145%;
        width: 100%;
        
        &::before {
          top: -1rem;
        }
      }

      &__1,
      &__3 {
        h4 {
          &::before {
            right: 0;
            left: unset;
          }
        }
      }

      &__2,
      &__4 {
        text-align: end;

        h4 {
          margin-left: auto;
          &::before {
            left: 0;
            right: unset;
          }
        }
      }
    }
  }
}
